// colors
$link-color: #011F5B;
$btn-primary-color: #FF0000;
$body-background-color: #DFDBC3;
$sidebar-color: #D2CCAA;
$body-text-color: #000000;
$search-background-color: #000000;
$code-background-color: #141414;
$body-heading-color: #011F5B;
$search-result-preview-color: #000000;
$table-background-color: #DFDBC3;
$feedback-color: lighten($sidebar-color, 3%);
